body {
	font-family: sans-serif;
}

.container {
	display: inline-block;
	vertical-align: top;
	width:50%;
}

.information {
    margin-left: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
	display: inline-block;
	vertical-align: top;
	width: 25%;
    border: 20px groove #f20c39;
    background: rgba(244,237,237,0.87);
}